a{
    text-decoration: none;
    color:black;
}


@media screen and (min-width:998px) {



h1{

font-size: 20px;
font-weight: bold;
    
}

h2{
    font-size: 20px;
    font-weight: bold;
}

h3{

    font-size: 1em;
    display: block; 
}

p{margin: 0%;}

body{

    font-size: 0.8em;
    font-family: 'Raleway', sans-serif;
    
    
}

.logo{

    
    height: 35px;
}

header{

    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    height: 50px;
    z-index: 9999;
    padding-right: 50px;
    padding-left: 50px;
    

}

nav{

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 20%;
}

.cont_link_heb{

    width: 50%;

    padding: 10px;
}

.lien_heb:hover{

    color: #0065FC;
    border-top:#0065FC 1px;
    
}

.lien_heb:active{

    color: #0065FC;
    border-top:#0065FC 1px solid;    
}

.lien_act:hover{

    color: #0065FC;
    border-top:#0065FC 1px;
    
}

.recherche{

    display: inline-flex;
    max-width: 100%;
    border-color: transparent;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.span_location{

    background-color: #f2f2f2;
    padding: 16px;
    text-align: center;
    border-radius: 16px 0 0 16px;
}

.bt_search{

    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0 16px 16px 0;
    border: none;
    padding: 16px;
}

.ville{

    border: #f2f2f2 2px;

}

.cont_link_act{

    width: 50%;
}

.corps{

    position:relative;
    top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    
}



.cont_heb{

    padding: 32px 16px 32px 16px;
    display: flex;
    flex-direction: column;
}

footer{

    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin-top: 80px;    

}

a{

    text-decoration: none;
}


#Hébergements{

    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 40px;
    flex-wrap: wrap;

    
}

article{
    background-color: #f2f2f2;
    width: 66%;
    min-height: 625px;
    border-radius: 20px;
    
    
}

.tab{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    

}
.cell{

    margin-right: 0px;
    width: 33%;
    list-style: none;
    border-color: white;
    border: 4px;
    
}

.slot{

    display: flex block;
    flex-direction: column;
    width: 215px;
    height: 180px;
    background-color: #FFFFFF;
    border: 3px  white;
    border-radius: 10px;
    padding: 4px 4px 0 4px;
    margin: 16px;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;

}

.miniature{

height: 100px;
width: 215px;

}

.minia{

    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #FFFFFF;
    border-top: 4px white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.carte_heb:link{
    text-decoration: none;
}

.carte_heb:visited{
    color: black;
}

.carte_heb{
    text-decoration: none;
}

.text_star{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
.fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}
/* Si elle porte en plus la classe '.bleu', elle sera en bleu. */
.fa-star.bleu {
	color: #0065FC;
}

/* Le parent global '.jauge' positionne le groupe des étoiles et le lien en colonne */
.jauge {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}



/* Le groupe '.stars' positionne les étoiles
		 les unes à côté des autres sans espacements. */
.stars {
    display: inline-flex;
	justify-content: left;
	font-size: 0.8em;
	}

aside{

    width: 30%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.aff{

    align-self: flex-start;
    justify-self: flex-start;

}

.filtres{

    display: flex;
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 30px;
    
}

.rond{

    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    margin: -2px;
    border: 2px solid #d9d9d9;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    justify-content: center;
    font-size: 1em;

}

.type_filtre{

    margin: 0 16px 0 16px;
    
}

.slot_filtre{

    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin: 0 12px 0 12px;
    
}

.slot_filtre:hover{

    background-color: #0065FC;
    color: white;
    
}

.slot_filtre:active{

    background-color: #0065FC;
    color: white;
    
}

.bloc_filtre{
    display: flex;
    align-items: center;
    text-decoration: none;

}

.bloc_filtre:hover{
    color: white;
}

.minia_pop{

    height: 100%;
    width: 120px;
    padding: 4px;
    border: 1px white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: space-between;


}

.img_pop{

    width:100%;
    height: 100%;
    object-fit: cover;
    background-color: #FFFFFF;
    padding: 4px ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px white;
    

}

.pop{

    display: flex;
    justify-content: flex-start;
}

.titre_pop{

    display: flex;
    justify-content: space-between;
}

.cell_pop{

    width: 100%;
    list-style: none;
    border-color: white;
    border: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}

.slot_pop{

    display: flex;
    flex-direction: row;
    width: 310px;
    height: 130px;
    background-color: white;
    border: #FFFFFF 4px;
    border-radius: 10px;
    padding-bottom: 3%;
    

}

.tab_pop {

    height: 100%;
    flex-direction: column;
    display: flex;
    padding: 32px;
    justify-content: flex-start;
    
    
}
.descript_pop{

    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.liste_pop{

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

.heb_prix_pop{
    display: flex;
    flex-direction: column;
    
}


.pack{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.colonne_full{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 25%;
    margin-right: 40px;
}

.colonne_split{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 25%;
    margin-right: 40px;
}

.carte_act_full{

    width: 100%;
    height: 100%;
    border: white 3px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;

}

.carte_act_66p{

    width: 100%;
    height: 210px;
    border: white 3px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    margin-bottom: 40px;

}

.carte_act_33p{

    width: 100%;
    height: 150px;
    border: white 3px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;

}

.carte_act_55p{

    width: 100%;
    height: 190px;
    border: white 3px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    

}

.carte_act_45p{

    width: 100%;
    height: 175px;
    border: white 3px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    margin-bottom: 35px;

}

.mini_act{

    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text_act{
    min-height: 2em;
    padding-left: 10px;
    height: 50px;
    justify-content: center;
}

.img_act_full{
    height: 350px;
}
.img_act_160px{
    height: 160px;
}
.img_act_100px{
    height: 100px;
}
.img_act_125px{
    height: 125px;
}
.img_act_140px{
    height: 140px;
}

.lien_activity{
    text-decoration: none;
}

} /* fermeture media queries desktop*/















@media all and (min-width:768px) and (max-width:992px) {

    h1{

        font-size: 20px;
        font-weight: bold;
            
        }
        
    h3{
            font-size: 1em;
            display: block;
            color: black;
        }

    h2{
            font-size: 20px;
            font-weight: bold;
        }
        
        p{margin: 0%;}
        
        body{
        
            font-size: 0.8em;
            font-family: 'Raleway', sans-serif;
            
            
        }
        
        .logo{
        
            
            height: 35px;
        }
        
        header{
        
            justify-content: space-between;
            align-items: flex-end;
            display: flex;
            
            width: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            background-color: white;
            height: 50px;
            z-index: 9999;
            padding-left: 50px;
            padding-right: 50px;

        
        }
        
        nav{
        
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 20%;
        }
        
        .cont_link_heb{
        
            width: 50%;
        }
        
        .lien_heb:hover{
        
            color: #0065FC;
            border-top:#0065FC 1px;
            
        }
        
        .lien_heb:active{
        
            color: #0065FC;
            border-top:#0065FC 1px;
            
        }
        
        .lien_act:hover{
        
            color: #0065FC;
            border-top:#0065FC 1px;
            
        }
        
        .recherche{
        
            display: inline-flex;
            max-width: 100%;
            border-color: transparent;
            border-radius: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        .span_location{
        
            background-color: #f2f2f2;
            padding: 16px;
            text-align: center;
            border-radius: 16px 0 0 16px;
        }
        
        .bt_search{
        
            background-color: #0065FC;
            color: white;
            font-weight: bold;
            border-radius: 0 16px 16px 0;
            border: none;
            padding: 16px;
        }
        
        .ville{
        
            border: #f2f2f2 2px;
        
        }
        
        .cont_link_act{
        
            width: 50%;
        }
        
        .corps{
        
            position:relative;
            top: 50px;
            padding-left: 50px;
            padding-right: 50px;
            
        }
        
        .cont_heb{
        
            padding: 32px 16px 32px 16px;
            display: flex;
            flex-direction: column;
        }
        
        footer{
        
            background-color: #f2f2f2;
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding: 0;
            margin-top: 80px;    
        
        }
        
        a{
        
            text-decoration: none;
        }
        
        
        #Hébergements{
        
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 40px;
            flex-wrap: wrap;
        
            
        }
        
        article{
            background-color: #f2f2f2;
            width: 66%;
            min-height: 625px;
            border-radius: 20px;
            
            
        }
        
        .tab{
        
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            
        
        }
        .cell{
        
            margin-right: 0px;
            width: 33%;
            list-style: none;
            border-color: white;
            border: 4px;
            
        }
        
        .slot{
        
            display: flex block;
            flex-direction: column;
            width: 215px;
            height: 180px;
            background-color: #FFFFFF;
            border: 3px white;
            border-radius: 10px;
            padding: 4px 4px 0 4px;
            margin: 16px;
            box-shadow: 1px 1px 6px black;
        
        }
        
        .miniature{
        
        height: 100px;
        width: 215px;
        
        }
        
        .minia{
        
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: #FFFFFF;
            border-top: 4px white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        
        .carte_heb:link{
            text-decoration: none;
        }
        
        .carte_heb:visited{
            color: black;
        }
        
        .text_star{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        /* Par défaut, une étoile est en gris,
           avec un padding et un curseur en forme de main. */
        .fa-star {
            color: gray;
            cursor: pointer;
            padding: 0.0625rem;
        }
        /* Si elle porte en plus la classe '.bleu', elle sera en bleu. */
        .fa-star.bleu {
            color: #0065FC;
        }
        
        /* Le parent global '.jauge' positionne le groupe des étoiles et le lien en colonne */
        .jauge {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
        }
        
        
        
        /* Le groupe '.stars' positionne les étoiles
                 les unes à côté des autres sans espacements. */
        .stars {
            display: inline-flex;
            justify-content: left;
            font-size: 0.8em;
            }
        
        aside{
        
            width: 30%;
            background-color: #f2f2f2;
            border-radius: 20px;
        }
        
        .aff{
        
            align-self: flex-start;
            justify-self: flex-start;
        
        }
        
        .filtres{
        
            display: flex;
            width: 66%;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 30px;

            
        }
        
        .rond{
        
            background-color: #DEEBFF;
            display: flex;
            align-items: center;
            margin: -2px;
            border: 2px solid #d9d9d9;
            border-radius: 100%;
            height: 50px;
            width: 50px;
            justify-content: center;
            font-size: 1em;
        
        }
        
        .type_filtre{
        
            margin: 0 16px 0 16px;
            
        }
        
        .slot_filtre{
        
            display: flex;
            align-items: center;
            border: 2px solid #f2f2f2;
            border-radius: 25px;
            margin: 0 12px 0 12px;
            
        }
        
        .slot_filtre:hover{
        
            background-color: #0065FC;
            color: white;
            
        }
        
        .slot_filtre:active{
        
            background-color: #0065FC;
            color: white;
            
        }
        
        .bloc_filtre{
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        
        .bloc_filtre:hover{
            color: white;
        }
        
        .minia_pop{
        
            height: 100%;
            width: 120px;
            padding: 4px;
            border: 1px white;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            display: flex;
            justify-content: space-between;
        
        
        }
        
        .img_pop{
        
            width:100%;
            height: 100%;
            object-fit: cover;
            background-color: #FFFFFF;
            padding: 4px ;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            border: 1px white;
            
        
        }
        
        .pop{
        
            display: flex;
            justify-content: flex-start;
        }
        
        .titre_pop{
        
            display: flex;
            justify-content: space-between;
        }
        
        .cell_pop{
        
            width: 100%;
            list-style: none;
            border-color: white;
            border: 4px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
        
        }
        
        .slot_pop{
        
            display: flex;
            flex-direction: row;
            width: 310px;
            height: 130px;
            background-color: white;
            border:  4px;
            border-radius: 10px;
            padding-bottom: 3%;
            
        
        }
        
        .tab_pop {
        
            height: 100%;
            flex-direction: column;
            display: flex;
            padding: 32px;
            justify-content: flex-start;
            
            
        }
        .descript_pop{
        
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
        }
        
        .liste_pop{
        
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            height: 100%;
        }
        
        .heb_prix_pop{
            display: flex;
            flex-direction: column;
            
        }
        
        
        .pack{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        
        .colonne_full{
            display: flex;
            flex-direction: column;
            height: 400px;
            width: 25%;
            margin-right: 40px;
        }
        
        .colonne_split{
            display: flex;
            flex-direction: column;
            height: 400px;
            width: 25%;
            margin-right: 40px;
        }
        
        .carte_act_full{
        
            width: 100%;
            height: 100%;
            border: white 3px;
            border-radius: 10px;
            box-shadow: 1px 1px 6px black;
        
        }
        
        .carte_act_66p{
        
            width: 100%;
            height: 210px;
            border: white 3px;
            border-radius: 10px;
            box-shadow: 1px 1px 6px black;
            margin-bottom: 40px;
        
        }
        
        .carte_act_33p{
        
            width: 100%;
            height: 150px;
            border: white 3px;
            border-radius: 10px;
            box-shadow: 1px 1px 6px black;
        
        }
        
        .carte_act_55p{
        
            width: 100%;
            height: 190px;
            border: white 3px;
            border-radius: 10px;
            box-shadow: 1px 1px 6px black;
            
        
        }
        
        .carte_act_45p{
        
            width: 100%;
            height: 175px;
            border: white 3px;
            border-radius: 10px;
            box-shadow: 1px 1px 6px black;
            margin-bottom: 35px;
        
        }
        
        .mini_act{
        
            object-fit: cover;
            width: 100%;
            height: 100%;
            border: 1px white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        
        .text_act{
            min-height: 2em;
            padding-left: 10px;
            height: 50px;
            justify-content: center;
        }
        
        .img_act_full{
            height: 350px;
        }
        .img_act_160px{
            height: 160px;
        }
        .img_act_100px{
            height: 100px;
        }
        .img_act_125px{
            height: 125px;
        }
        .img_act_140px{
            height: 140px;
        }

        .lien_activity{
            text-decoration: none;
        }
        
}















@media all and (max-width:768px) {

    h1{

        font-size: 20px;
        font-weight: bold;
            
        }
        
        h3{
            font-size: 1.2em;
            display: block;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        h2{
            font-size: 20px;
            font-weight: bold;
        }
        
        p{margin: 0%;}
        
        body{
        
            font-size: 0.8em;
            font-family: 'Raleway', sans-serif;
            
            
        }
        
        .logo{
        
            justify-content: center;
            height: 35px;
        }
        
        header{
        
            justify-content: space-between;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            background-color: white;
            height: 50px;
            z-index: 9999;
            
        
        }
        
        nav{
        
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
        }
        
        .cont_link_heb{
        
            width: 50%;
            justify-content: center;
            text-align: center;
            border-bottom: 2px;
            border: #0065FC;
        }

        

        .lien_heb{
            justify-content: center;
            border-bottom: 2px;
            border: #0065FC;
        }
        
        .lien_heb:hover{
        
            color: #0065FC;
            border-top:#0065FC 1px;
            
        }
        
        .lien_heb:active{
        
            color: #0065FC;
            border-top:#0065FC 1px;
            
        }
        
        .lien_act:hover{
        
            color: #0065FC;
            border-top:#0065FC 1px;
            
        }
        
        .recherche{
        
            display: inline-flex;
            max-width: 100%;
            border-color: transparent;
            border-radius: 10px;
        }
        
        .span_location{
        
            background-color: #f2f2f2;
            padding: 16px;
            text-align: center;
            border-radius: 16px 0 0 16px;
        }
        
        .bt_search{
        
            background-color: #0065FC;
            color: white;
            font-weight: bold;
            border-radius: 0 16px 16px 0;
            border: none;
            padding: 16px;
        }
        
        .ville{
        
            border: #f2f2f2 2px;
        
        }
        
        .cont_link_act{
        
            width: 50%;
            text-align: center;
            border-bottom: #d9d9d9 1px;
            
        }
        
        .corps{
        
            position:relative;
            top: 50px;
            padding-left: 20px;
            padding-right: 20px;
            
        }
        
        .cont_heb{
        
            /*padding: 32px 16px 32px 16px;*/
            display: flex;
            flex-direction: column;
        }
        
        footer{
        
            background-color: #f2f2f2;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            margin-top: 80px;    
        
        }

        .A_propos{
            padding: 10px;
        }

        

        
        a{
        
            text-decoration: none;
        }
        
        
        #Hébergements{
        
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 40px;
            flex-wrap: nowrap;
            flex-direction: column-reverse;
        
            
        }
        
        article{
            background-color: white;
            width: 100%;
            min-height: 625px;
            border-radius: 20px;
            
            
        }
        
        .tab{
        
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            max-width: 335px;
        
        }
        /*.cell{
        
            margin-right: 0px;
            width: 33%;
            list-style: none;
            border-color: white;
            border: 4px;
            
        }*/
        
        .slot{
        
            display: flex block;
            flex-direction: column;
            width: 100%;
            height: 200px;
            background-color: #FFFFFF;
            border: 3px white;
            border-radius: 10px;
            padding: 4px 4px 0 4px;
            margin-bottom: 16px;
            box-shadow: 1px 1px 6px #f2f2f2;
        
        }
        
        .miniature{
        
        height: 115px;
        width: 100%;
        
        }
        
        .minia{
        
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: #FFFFFF;
            border-top: 4px white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        
        .carte_heb{

            width: 90%;
            text-decoration: none;
        }

        .carte_heb:link{
            text-decoration: none;
        }
        
        .carte_heb:visited{
            color: black;
        }
        
        .text_star{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        /* Par défaut, une étoile est en gris,
           avec un padding et un curseur en forme de main. */
        .fa-star {
            color: gray;
            cursor: pointer;
            padding: 0.0625rem;
        }
        /* Si elle porte en plus la classe '.bleu', elle sera en bleu. */
        .fa-star.bleu {
            color: #0065FC;
        }
        
        /* Le parent global '.jauge' positionne le groupe des étoiles et le lien en colonne */
        .jauge {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
        }
        
        
        
        /* Le groupe '.stars' positionne les étoiles
                 les unes à côté des autres sans espacements. */
        .stars {
            display: inline-flex;
            justify-content: left;
            font-size: 0.8em;
            }
        
        aside{
        
            width: 100%;
            background-color: #f2f2f2;
            border-radius: 20px;
        }
        
        .aff{
        
            align-self: flex-start;
            justify-self: flex-start;
        
        }
        
        .filtres{
        
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 30px;
            
        }
        
        .rond{
        
            background-color: #DEEBFF;
            display: flex;
            align-items: center;
            margin: -2px;
            border: 2px solid #d9d9d9;
            border-radius: 100%;
            height: 50px;
            width: 50px;
            justify-content: center;
            font-size: 1em;
        
        }
        
        .type_filtre{
        
            margin: 0 16px 0 16px;
            
        }
        
        .slot_filtre{
        
            display: flex;
            align-items: center;
            border: 2px solid #f2f2f2;
            border-radius: 25px;
            margin: 0 12px 0 12px;
            
        }
        
        .slot_filtre:hover{
        
            background-color: #0065FC;
            color: white;
            
        }
        
        .slot_filtre:active{
        
            background-color: #0065FC;
            color: white;
            
        }
        
        .bloc_filtre{
            display: flex;
            align-items: center;
            text-decoration: none;

        }
        
        .bloc_filtre:hover{
            color: white;
        }
        
        .minia_pop{
        
            height: 100%;
            width: 120px;
            padding: 4px;
            border: 1px white;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            display: flex;
            justify-content: space-between;
                 
        
        }
        
        .img_pop{
        
            width:100%;
            height: 100%;
            object-fit: cover;
            background-color: #FFFFFF;
            padding: 4px ;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            border: 1px white;
            
        
        }
        
        .pop{
        
            display: flex;
            justify-content: flex-start;
        }
        
        .titre_pop{
        
            display: flex;
            justify-content: space-between;
            width:100%
        }
        
        .cell_pop{
        
            width: 100%;
            list-style: none;
            border-color: white;
            border: 4px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 10px;
        
        }
        
        .slot_pop{
        
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 130px;
            background-color: white;
            border: 4px;
            border-radius: 10px;
            padding-bottom: 3%;
            
        
        }
        
        .tab_pop {
        
            height: 100%;
            flex-direction: column;
            display: flex;
            padding: 5px;
            justify-content: flex-start;
            align-items: center;
            
            
        }
        .descript_pop{
        
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
        }
        
        .liste_pop{
        
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            height: 100%;
            width: 90%;
        }
        
        .heb_prix_pop{
            display: flex;
            flex-direction: column;
            
        }
        
        
        .pack{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
        /*.colonne_full{
            display: flex;
            flex-direction: column;
            height: 400px;
            width: 25%;
            margin-right: 40px;
        }
        
        .colonne_split{
            display: flex;
            flex-direction: column;
            height: 400px;
            width: 25%;
            margin-right: 40px;
        }*/
        
        .carte_act_full{
        
            width: 100%;
            height: 100%;
            border: white 3px;
            border-radius: 10px;
            box-shadow: 1px 1px 6px #f2f2f2;
            max-width: 330px;
            margin-bottom: 25px;
        
        }
        
        .carte_act_66p{
        
            width: 100%;
            height: 190px;
            border: white 3px;
            border-radius: 10px;
            box-shadow: 1px 1px 6px #f2f2f2;
            margin-bottom: 40px;
            max-width: 330px;
            margin-bottom: 25px;

        
        }
        
        .carte_act_33p{
        
            width: 100%;
            height: 190px;
            border: white 3px;
            border-radius: 10px;
            box-shadow: 1px 1px 6px #f2f2f2;
            max-width: 330px;
            margin-bottom: 25px;

        
        }
        
        .carte_act_55p{
        
            width: 100%;
            height: 190px;
            border: white 3px;
            border-radius: 10px;
            box-shadow: 1px 1px 6px #f2f2f2;
            max-width: 330px;
            margin-bottom: 25px;

        
        }
        
        .carte_act_45p{
        
            width: 100%;
            height: 190px;
            border: white 3px;
            border-radius: 10px;
            box-shadow: 1px 1px 6px #f2f2f2;
            margin-bottom: 35px;
            max-width: 330px;
            margin-bottom: 25px;

        
        }
        
        .mini_act{
        
            object-fit: cover;
            width: 100%;
            height: 100%;
            border: 1px white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        
        .text_act{
            min-height: 2em;
            padding-left: 10px;
            height: 55px;
            display: flex;
            align-items: center;

        }
        
        .img_act_full{
            height: 135px;
        }
        .img_act_160px{
            height: 135px;
        }
        .img_act_100px{
            height: 135px;
        }
        .img_act_125px{
            height: 135px;
        }
        .img_act_140px{
            height: 135px;
        }

        .lien_activity{
            text-decoration: none;
        }

        

}

